* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(39, 39, 39);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 80px;
  background-color: transparent;
  color: rgb(236, 230, 230);
}

.image-item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item3 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item7 {
  grid-column: 4 / span 2;
    grid-row: 4 / span 3;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item6 {
  grid-column: 1 / span 2;
    grid-row: 6;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item5 {
  grid-column: 3 / span 3;
    grid-row: 6;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item8 {
  grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item9 {
  grid-column: 1 / span 5;
    grid-row: 1;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item16 {
  grid-column: 3 / span 2;
    grid-row: 4;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item10 {
  grid-column: 1 / span 2;
    grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item11 {
  grid-column: 3 / span 2;
  grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item12 {
  grid-column: 1 / span 3;
    grid-row: 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item13 {
  grid-column: 4 / span 2;
    grid-row: 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item14 {
  grid-column: 1 / span 5;
    grid-row: 2;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item23 {
  grid-column: 1 / span 2;
    grid-row: 1;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}
.image-item27 {
  grid-column: 3 / span 2;
    grid-row: 4;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}
.image-item18 {
  grid-column: 1 / span 5;
  grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}
.image-item19 {
  grid-column: 1 / span 2;
    grid-row: 1;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item21 {
  grid-column: 3 / span 2;
  grid-row: 1;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item22 {
  grid-column: 1 / span 3;
  grid-row: 3;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item26 {
  grid-column: 4 / span 2;
    grid-row: 3;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item28 {
  grid-column: 1 / span 2;
    grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item25 {
  grid-column: 3 / span 2;
    grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}

.image-item29 {
  grid-column: 1 / span 2;
    grid-row: 1;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}
.image-item17 {
  grid-column: 1 / span 5;
  grid-row: 5;
  overflow: hidden;
  border: solid whitesmoke;
  width: 100%;
  height: auto;
}









/* Responsive layout - adjust grid columns and image positions for smaller screens */

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
